<p>playlists-view works!</p>

<div class="row">
    <div class="col">
        <app-playlists-list 
        [selected]="selected"
        [playlists]="playlists"
        (selectedChange)="selectPlaylist($event)"
        >
        </app-playlists-list>
        <input type="text" [value]="selected.name" >
    </div>

    <ng-container>
        <app-playlist-details class="col" *ngIf="selected && mode == 'details'"(edit)="edit()"[playlists]="selected"
        ></app-playlist-details>
    
        <app-playlist-editor class="col" (save)="save($event)" (cancel)="cancel()" *ngIf="selected && mode == 'edit'" [playlists]="selected"
        ></app-playlist-editor>
        
      </ng-container>
</div>