<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    #queryRef
  />
  <button class="btn btn-outline-secondary" (click)="submit(queryRef.value)">
    Search
  </button>
</div>

