<p>playlist-editor works!</p>


<div class="form-group mb-3">
  <label>Name:</label>
  <input type="text" class="form-control" [value]="playlists.name">
</div>

<div class="form-group mb-3">
  <label><input type="checkbox"
    [checked]="playlists.public"> Public</label>
</div>

<div class="form-group mb-3">
  <label>Description:</label>
  <textarea class="form-control"
  [value]="playlists.description"></textarea>
</div>
<button class="btn btn-info" (click)="childCancel(playlists)">Cancel</button>
<button class="btn btn-info" (click)="childSaveEdit(playlists)">Save</button>
