<p>playlist-details works!</p>

<dl [title]="'Title: ' +playlists.name">
    <dt>Name:</dt>
    <dd
    [ngStyle]="{
      'border-bottom': 10 / 2 + 'px solid' 
    }">{{playlists.name}}</dd>
    
    <dt>Public:</dt>
    <dd class="isVisable"
    [class.isPublic]='playlists.public'
    [class.isPrivate]='!playlists.public'
    >{{playlists.public ? 'Yes' : 'No'}}</dd>
  
    <dt>Description:</dt>
    <dd>{{playlists.description}}</dd>
  </dl>
  <button class="btn btn-info" (click)="childEdit(playlists)">Edit</button>
  <button class="btn btn-info" (click)="childCreate()">Create</button>